*{
	background-color: #000;
	text-align: center;
}

img{
	margin: 80px 0;
}



@media screen and (max-width: 800px) {
	img{
		width: 100%;
	}
}

@media screen and (min-width: 401px) {
	#matui{
		width: 400px;
	}
}


@media screen and (min-width: 801px) {
	body{
		margin: 0 auto;
		width: 800px;
	}
	img{
		width: 750px;
	}
	#matui{
		width: 400px;
	}
}


